magnetic_potential_problem_2D/fig - damping/convergence_d.fig
magnetic_potential_problem_2D/fig - damping/convergence_d.png
magnetic_potential_problem_2D/fig - damping/damping_d.png
magnetic_potential_problem_2D/fig - damping/damping.fig
magnetic_potential_problem_2D/fig - damping/solution_d.fig
magnetic_potential_problem_2D/fig - damping/solution_d.png
magnetic_potential_problem_2D/fig - example 1/convergence_g_4000.fig
magnetic_potential_problem_2D/fig - example 1/convergence_g_4000.png
magnetic_potential_problem_2D/fig - example 1/nabla_u1.fig
magnetic_potential_problem_2D/fig - example 1/nabla_u1.png
magnetic_potential_problem_2D/fig - example 1/u1.fig
magnetic_potential_problem_2D/fig - example 1/u1.png
magnetic_potential_problem_2D/fig - example 2/nabla_u2.fig
magnetic_potential_problem_2D/fig - example 2/nabla_u2.png
magnetic_potential_problem_2D/fig - example 2/solution.fig
magnetic_potential_problem_2D/fig - example 2/solution2.png
magnetic_potential_problem_2D/fig - linear solver/alpha_1e-1.fig
magnetic_potential_problem_2D/fig - linear solver/alpha_1e-1.png
magnetic_potential_problem_2D/fig - linear solver/alpha_1e-2.fig
magnetic_potential_problem_2D/fig - linear solver/alpha_1e-2.png
magnetic_potential_problem_2D/fig - linear solver/alpha_1e-3.fig
magnetic_potential_problem_2D/fig - linear solver/alpha_1e-3.png
magnetic_potential_problem_2D/fig - linear solver/alpha_1e0.fig
magnetic_potential_problem_2D/fig - linear solver/alpha_1e0.png
magnetic_potential_problem_2D/fig - linear solver/alpha_3e-4.fig
magnetic_potential_problem_2D/fig - linear solver/alpha_3e-4.png
magnetic_potential_problem_2D/magnetic_potential_problem.zip
magnetic_potential_problem_2D/a_function/a_function.fig
magnetic_potential_problem_2D/a_function/a_function.m
magnetic_potential_problem_2D/a_function/a_function.png
magnetic_potential_problem_2D/a_function/k_i_10.fig
magnetic_potential_problem_2D/a_function/k_i_10.png
magnetic_potential_problem_2D/a_function/k_i_50.fig
magnetic_potential_problem_2D/a_function/k_i_50.png
